{{#each fields}}
	{{#is @root/isPreview true}}
		<h3 class="preview-title">{{value}}</h3>
	{{/is}}

	{{#is @root/isWeb true}}
		<div class="view-topper view-topper-details-drugs">
			<div class="second-bar">
				<h2 class="second-bar-title">{{value}}</h2>
			</div>
			<div class="js-submenu-tabs tabs">
				<a href="#/drugs/{{_urlSafeChapter}}/{{urlencode value}}" class="tab js-tab-item js-tab-item-drugs {{tabClassDrugs}}">Rek. l채kemedel</a>
				<a href="#/advice/{{_urlSafeChapter}}/{{urlencode value}}" class="tab js-tab-item js-tab-item-advice {{tabClassAdvice}}">Terapir책d</a>
			</div>
		</div>
	{{/is}}

	<div class="section-details section-details-advice">
		{{#each children}}
			<div class="item-{{@index}} advice-{{children.0.value}} body">
				{{#if children.1.value}}
					<h2 class="advice-subheading">{{children.1.value}}</h2>
				{{/if}}
				{{#is children.0.value 'for-childs'}}
					<img src="/reklistan-theme/images/theme/child.png" class="child-icon">
				{{/is}}
				{{{markdownify value}}}
				{{#each children}}
					{{#is name 'image'}}
						{{#if value}}
							<div class="details-image">
								<a href="{{{value}}}" target="_blank"><img src="{{{value}}}" alt=""></a>
								<a href="{{{value}}}" target="_blank" class="fullscreen-link">Visa bild i fullsk채rm</a>
							</div>						
						{{/if}}
					{{/is}}
				{{/each}}
				{{#is children.0.value 'physical-exercise'}}
					<div class="details-physical-exercise-meta"><p>Se 채ven kapitel <a href="#/advice/Fysisk_aktivitet">Fysisk aktivitet</a></p></div>
				{{/is}}			
			</div>
		{{/each}}
    </div>
{{/each}}
